@media (max-width: 880px) {
  /* Center the product info text */
  .product-info-responsive-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Make buttons not full width */
  .responsive-btn-width {
    
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
